<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.msbuild.MsBuildBuilder plugin="msbuild@1.28">
      <msBuildName>msbuild</msBuildName>
      <msBuildFile>C:\Program Files (x86)\Jenkins\workspace\BookStore-build\BookStore\BookStore.sln</msBuildFile>
      <cmdLineArgs>/p:Configuration=Release /p:DeployOnBuild=true /p:PublishProfile=&quot;C:\Users\rossy\Documents\GitHub\ASP.NET-MVC-Final-Project\BookStore\BookStore.Web\Properties\PublishProfiles\rossy-bookstore - Web Deploy.pubxml&quot; /p:Password=WixdMTb2tJYiCPEm3biApAJlZebulm4j5g6wXxaf7XMSAoZW3QGJJybnkn0J</cmdLineArgs>
      <buildVariablesAsProperties>false</buildVariablesAsProperties>
      <continueOnBuildFailure>false</continueOnBuildFailure>
      <unstableIfWarnings>false</unstableIfWarnings>
      <doNotUseChcpCommand>false</doNotUseChcpCommand>
    </hudson.plugins.msbuild.MsBuildBuilder>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.34">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>